*{
    margin: 0;
    padding: 0;
}
#cont{
    height:350px;
    width:500px;
    position: relative;
    margin: 100px auto;
    
    border-radius: 70px;
    box-shadow: -3px 3px 5px black;
    background-color: rgba(7, 7, 7, 0.753);
}
html{
    background: url("image/reset.jpg");
    background-size: cover;
}
button{
    height: 7vh;
    width: 30% ;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    font-size:large;
    transition: .2s ease-in-out 0s;
    border: 2px solid rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 6px 4px black;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
    color:white;
    background-color: black;
}
.layer{
    height: 11vh;
    width: 30% ;
    margin-top: 7px;
    position: absolute;
    background-color: transparent;
    margin-left: 35%;
}
.layer:hover ~ button{
     width: 0px;
     color: transparent;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 85%;
    height: 5vh;
    font-size: 23px;
    margin-top: 20px;
    color:white;
    outline:none;
    place-content: white;
    transition: .2s ease-in-out 0s;
}
input:hover{
    cursor: text;
    transform: scale(1.05);
    
}
::placeholder{
    color: rgba(255, 255, 255, 0.644);
    padding-left:2px;
    font-weight: 600;
    text-shadow: -3px 3px 5px black;
}
label{
    color: rgb(7, 7, 7);
}
.link{
    text-decoration: none;
    background-color:green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.no{
    bottom: -21%;
    left: 10%;
}
#hid{
    visibility: hidden;
}
.error_mes{
    background-color: rgba(0, 128, 0, 0.377);
    border: 2px solid rgb(0, 128, 0.479);
    color: rgb(13, 226, 13);
    height:fit-content;
    width: fit-content;
    padding: 6px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 3px;
}
.error_mes1{
    background-color: rgba(255, 0, 0, 0.377);
    border: 2px solid rgba(255, 0, 0, 0.479);
    color: red;
    height:fit-content;
    width: fit-content;
    padding: 6px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 3px;
}
.icon1{
    font-size: 20px;
    color: rgb(248, 248, 12);
    position: absolute;
    margin:-29px 0px 0px 450px;
    transition: 0.5s;
}
.iconTop{
    height: 50px;
    width: 100px;
    background-color: red;
}

